<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row row border-bottom white-bg">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>dahsboard</h1>
            </div>
        </div>
    </div>
</div>