<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="myModalLabel">Nueva Cotizaión</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="box-form">
                        <span class="box-form_title">Cabecera</span>
                        <div class="row">
                            <select name="" id="select"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button color="accent" class="margin-right5">Save</button>
                    <button mat-raised-button color="primary">Save</button>
                </div>
            </div>
        </div>
    </div>