<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs"> <strong class="font-bold">Example user</strong> </span>
                        <span class="text-muted text-xs block">Example <b class="caret"></b> </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('dahsboard')}">
                <a [routerLink]="['/dahsboard']"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('cotizacion')}">
                <a [routerLink]="['/cotizacion']"><i class="fa fa-calculator"></i> <span class="nav-label">Cotización</span> </a>
            </li>
            <li>
                <a [routerLink]="['/login']"><i class="fa fa-money"></i> <span class="nav-label">Ventas</span> </a>
                <ul class="nav nav-second-level" >
                    <li>
                        <a >Facturas</a>
                    </li>
                    <li>
                        <a >Boletas</a>
                    </li>
                    <li>
                        <a >Nota de crédito</a>
                    </li>
                    <li>
                        <a>Nota de débito</a>
                    </li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['/register']"><i class="fa fa-line-chart"></i> <span class="nav-label">Reportes</span> </a>
            </li>
            <li>
                <a [routerLink]="['/register']"><i class="fa fa-wrench"></i> <span class="nav-label">Administrar</span> </a>
                <a [routerLink]="['/register']"><i class="fa fa-info-circle"></i> <span class="nav-label">Ayuda</span> </a>
            </li>
        </ul>

    </div>
</nav>