<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cotización</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 m-b-xs">
                            <mat-form-field>
                                <input matInput placeholder="Cliente/Nro. documento">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12  col-md-3 m-b-xs">
                            <style>
                            </style>
                            <mat-form-field>
                                <mat-label>Serie-Correlativo</mat-label>
                                <input matInput (focus)="onFocus()" (blur)="onBlur()">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-3 m-b-xs">
                            <mat-form-field>
                                <!-- 'legacy' | 'standard' | 'fill' | 'outline' -->
                                <input matInput [matDatepicker]="picker" placeholder="Fecha emisión" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-3 m-b-xs">
                            <button class="pull-right" mat-raised-button color="primary"  data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-plus"></i> Nuevo
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource">

                                <!-- Position Column -->
                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef> # </th>
                                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Documento </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef> Cliente/Proveedor </th>
                                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="symbol">
                                    <th mat-header-cell *matHeaderCellDef> Correlativo </th>
                                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                </ng-container>
                                <ng-container matColumnDef="symbol2">
                                    <th mat-header-cell *matHeaderCellDef> F. emisión </th>
                                    <td mat-cell *matCellDef="let element"> {{element.symbol2}} </td>
                                </ng-container>
                                <ng-container matColumnDef="symbol3">
                                    <th mat-header-cell *matHeaderCellDef> F. vencimiento </th>
                                    <td mat-cell *matCellDef="let element"> {{element.symbol3}} </td>
                                </ng-container>
                                <ng-container matColumnDef="symbol4">
                                    <th mat-header-cell *matHeaderCellDef> Monto </th>
                                    <td mat-cell *matCellDef="let element"> {{element.symbol4}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<page-cotizacion-create></page-cotizacion-create>