<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()">
                <i class="fa fa-bars"></i>
            </a>
            <form role="search" class="navbar-form-custom" method="post" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    20602018106
                </a>
            </li>
            <li>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <!-- <span class="text-xs block">Example
                        <b class="caret"></b>
                    </span> -->
                    <img width="20" height="20" src="assets/img/testmonial-default.png" alt="">
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li>
                        <a href="#"><i class="fa fa-gear"></i> Configuración</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
</div>