// @import '~@angular/material/_theming.scss';
@import '~@angular/material/theming';
@import "src/assets/styles/material-theme.scss";
@import "src/assets/styles/styles.scss";
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
table,mat-form-field{
    width: 100%;
}
.box-form {
	padding: .7rem 1rem;
    border: 1px solid $color_prymary_200;
    border-radius: 2px;
	margin-bottom: 2rem;
	position: relative;
	padding-top: 1rem;
    .box-form_title {
        position: absolute;
        top: -10px;
        background-color: white;
        padding: 0rem .8rem;
        color: $color_prymary_300;
        font-size: 85%;
        font-style: italic;
    }
}
.margin-right5{
    margin-right: 5px !important;
}